.portfolio {
	.row {
		margin-bottom: 10px;
	}

	.grid-one {
		h2 {
			font-size: 1.0em;
			padding:0.4em 0.6em;

			@media(min-width:$screen-sm){
			font-size: 1.5em;
			}

		}
		.grid-one-image-one {
			margin-bottom: 10px;
			position: relative;
			h2 {
				position: absolute;
				background: white;
				letter-spacing: 0.03em;
				top: 30px;
				left: 0;
				font-weight: 100;
			}
		}//.grid-one-image-one
		.grid-one-image-two{
			position: relative;
			h2 {
				position: absolute;
				background: white;
				padding:0.4em 0.6em;
				letter-spacing: 0.03em;
				bottom: 30px;
				left: 0;
				font-weight: 100;
			}
		}//.grid-one-image-two
		.grid-one-image-three {
			margin-bottom: 10px;
			position: relative;
			h2 {
				position: absolute;
				background: white;
				padding:0.4em 0.6em;
				letter-spacing: 0.03em;
				bottom: 30px;
				left: 0;
				font-weight: 100;
			}
		}//.grid-one-image-three
		.grid-one-image-four {
			position: relative;
			h2 {
				position: absolute;
				background: white;
				padding:0.4em 0.6em;
				letter-spacing: 0.03em;
				bottom: 30px;
				right: 0;
				font-weight: 100;
			}
		}//.grid-one-image-four
	}//.grid-one

	.grid-two {
		.grid-two-image-one{
			position: relative;
			h2 {
				position: absolute;
				background: white;
				padding:0.4em 0.6em;
				font-size: 1.5em;
				letter-spacing: 0.03em;
				top: 30px;
				right: 0;
				font-weight: 100;
			}
		}//.grid-two-image-one
		.grid-two-image-two{
			position: relative;
			h2 {
				position: absolute;
				background: white;
				padding:0.4em 0.6em;
				font-size: 1.5em;
				letter-spacing: 0.03em;
				bottom: 30px;
				right: 0;
				font-weight: 100;
			}
		}//.grid-two-image-two
		.grid-two-image-three{
			position: relative;
			h2 {
				position: absolute;
				background: white;
				padding:0.4em 0.6em;
				font-size: 1.5em;
				letter-spacing: 0.03em;
				top: 30px;
				left: 0;
				font-weight: 100;
			}
		}//.grid-two-image-three
	}//.grid-two

	.grid-three {
		.grid-three-image-one{
			position: relative;
			h2 {
				position: absolute;
				background: white;
				padding:0.4em 0.6em;
				font-size: 1.5em;
				letter-spacing: 0.03em;
				top: 30px;
				left: 0;
				font-weight: 100;
			}
		}//.grid-three-image-one
		.grid-three-image-two{
			position: relative;
			h2 {
				position: absolute;
				background: white;
				padding:0.4em 0.6em;
				font-size: 1.5em;
				letter-spacing: 0.03em;
				bottom: 30px;
				left: 0;
				font-weight: 100;

			}
		}//.grid-three-image-two

	}

} //.portfolio








